<!DOCTYPE html>

<html>
<head>
<meta http-equiv="content-type" content="text/html" ; charset="utf-8" />
<title>Usuarios</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<h2 style="text-align:center " border: 1px solid black;>Usuario</h2>
<br />
<div style="margin: auto;max-width:500px">
    <table height="500" width="500" class="table-dark" style="text-align:center;" border="1">
        <thead>
            <tr>

                <th scope="row">Sector H1</th>
                <th>Sector H2</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th><button id="boton1" nro-plaza="1" type="button" class="btn btn-default" style="display:none">H1</button></th>
                <th><button id="boton2" nro-plaza="2" type="button" class="btn btn-success" style="display:none">H2</button></th>

            </tr>
            <tr>
                <th><button id="boton3" nro-plaza="3" type="button" class="btn btn-success" style="display:none">H3</button></th>
                <th><button id="boton4" nro-plaza="4" type="button" class="btn btn-success" style="display:none">H4</button></th>

            </tr>

    </table>
</div>

</body>
</html>
<script type="text/javascript">
 $(document).ready(function () {
    function getAll() {
        $.ajax({
            url: document.location.origin + "/api/plaza/GetAll",
            type: 'GET',
            contentType: "application/json",
            success: function (data) {
                $.each(data, function (index, value) {
                    console.log(value.estado);
                    if (value.estado) {
                        $("#boton" + value.id).removeClass('btn-danger').addClass('btn-success').show(50);
                    }
                    else {
                        $("#boton" + value.id).removeClass('btn-success').addClass('btn-danger').show(50);
                    }
                });
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    setInterval(getAll, 500);
});

$("#boton1").on("click", function () {
    $.ajax({
        url: document.location.origin + "/api/plaza/" + $("#boton1").attr("nro-plaza"),
        type: 'PUT',
        data: JSON.stringify({
            "Id": 1,
            "Posicion": "H1",
            "Estado": $("#boton1").hasClass('btn-success') ? true : false,
            "Tipo": 1
        }),
        contentType: "application/json",
        success: function (data) {
            if (!data.estado) {

                $("#boton1").removeClass('btn-success').addClass('btn-danger')
            }
            else {
                $("#boton1").removeClass('btn-danger').addClass('btn-success')
            }
        },
        error: function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
});

$("#boton2").on("click", function () {
    $.ajax({
        url: document.location.origin + "/api/plaza/" + $("#boton2").attr("nro-plaza"),
        type: 'PUT',
        data: JSON.stringify({
            "Id": 2,
            "Posicion": "H2",
            "Estado": $("#boton2").hasClass('btn-success') ? true : false,
            "Tipo": 1
        }),
        contentType: "application/json",
        success: function (data) {
            if (!data.estado) {

                $("#boton2").removeClass('btn-success').addClass('btn-danger')
            }
            else {
                $("#boton2").removeClass('btn-danger').addClass('btn-success')
            }
        },
        error: function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
});
$("#boton3").on("click", function () {
    $.ajax({
        url: document.location.origin + "/api/plaza/" + $("#boton3").attr("nro-plaza"),
        type: 'PUT',
        data: JSON.stringify({
            "Id": 3,
            "Posicion": "H3",
            "Estado": $("#boton3").hasClass('btn-success') ? true : false,
            "Tipo": 1
        }),
        contentType: "application/json",
        success: function (data) {
            if (!data.estado) {

                $("#boton3").removeClass('btn-success').addClass('btn-danger')
            }
            else {
                $("#boton3").removeClass('btn-danger').addClass('btn-success')
            }
        },
        error: function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
});
$("#boton4").on("click", function () {
    $.ajax({
        url: document.location.origin + "/api/plaza/" + $("#boton4").attr("nro-plaza"),
        type: 'PUT',
        data: JSON.stringify({
            "Id": 4,
            "Posicion": "H4",
            "Estado": $("#boton4").hasClass('btn-success') ? true : false,
            "Tipo": 1
        }),
        contentType: "application/json",
        success: function (data) {
            if (!data.estado) {

                $("#boton4").removeClass('btn-success').addClass('btn-danger')
            }
            else {
                $("#boton4").removeClass('btn-danger').addClass('btn-success')
            }
        },
        error: function (request, error) {
            alert("Request: " + JSON.stringify(request));
        }
    });
});

</script>